@tailwind base;

html {
    line-height: 1.15;
}

@tailwind components;

@tailwind utilities;

.text-inherit {
    color: inherit;
}

.h-three-quarters-screen {
    height: 75vh;
}

a {
    @apply .transition-all;
}

@import 'utilities/buttons';
@import 'utilities/cards';
@import 'utilities/input';
@import 'utilities/page_transitioner';

@import 'layout/navigation';

.bg-cover-image {
    @apply .bg-fixed .bg-center .bg-no-repeat .bg-cover;
    background-image: url('../images/header.jpg');
}
